<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<h1>Hello index</h1>
<form action="" method="post" enctype="multipart/form-data">

    {% csrf_token %}
    {{ form.as_p }}
    <button>OK</button>

</form>
<h1>HTML форма</h1>
<form action="{% url 'new_app:form_save' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="login">Логин<br> {{ err1 }} <br>

    <input type="text" name="name">Имя<br>
    <input type="password" name="password">Пароль<br>
    <input type="file" name="avatar">Фото<br>

    <button>Oтправить форму</button>

</form>

</body>
</html>