<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Less_Shops</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <h1 class="ttl">Hello less_forms</h1>
    <div class="ttl"
    <h2 class="ttl"> Существующие категории </h2><br>
        {% for cat in categories %}
        <a href="{% url 'apple:category_sort' cat.id %}"> {{cat.name}} </a>
        {% endfor %}
    </div>

    <div class="forms">
        <h2 class="ttl"> Категории </h2>
        <form action="{% url 'apple:category_form' %}" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Введите название" name="Title">Название категории<br>
            <input type="reset" name="reset"><br>
            <button>OK</button>
        </form>
    </div>

    <div class="ttl">
        <h2>Списачэк уже имеющихся продуктов</h2>
        {% for prod in products %}
        <a href="{% url 'apple:product_detail' prod.id %}">{{ prod.title }}</a>
        {% endfor %}
    </div>

    <div class="forms">
        <h1 class="ttl">Продукты</h1>
        <form action="{% url 'apple:product_form' %}" method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            <input type="text" placeholder="Введите название" name="Title">Название товара<br>
            <p>Описание</p>
            <textarea name="discription">Описание</textarea><br>
            <input type="number" name="price">Цена <br>
            <input type="file" name="img" accept="image/jpeg,image/png">Изображение <br>
            <input type="date" name="created">Дата и Время<br>

            Категория<br>

            <select id="Category"name="categories"><br>
                {% for cat in categories %}
                <option value="{{cat.id}}">{{cat.name}}</option><br>
                {% endfor %}
            </select>
            <input type="radio" name="kind" value="Выбор 1">Выбор 1<br>
            <input type="radio" name="kind" value="Выбор 2">Выбор 2<br>

            <input type="reset" name="reset"><br>
            <button>OK</button>

    </form>
    </div>

<div class="ttl">
    <h2> Все магазины</h2>
    {% for i in shop %}
        <a href="">{{ i.name }}</a>
        {% endfor %}

</div>

<div class="forms">
    <h1 class="ttl">Магазины</h1>
    <form action="" method="POST">

        {% csrf_token %}
        <input type="text" placeholder="Введите название" name="name">Название магазина<br>
        <input type="text" placeholder="Введите город" name="citi">Город<br>
        <input type="text" placeholder="Введите адресс" name="street">Адресс<br>

        {% for p in products %}
            <input type="checkbox" name="product" value="{{p.id}}">{{p.title}}</input><br>

        {% endfor %}
        </select>

        <input type="reset" name="reset"><br>
        <button>OK</button>
    </form>
</div>

</body>
</html>